player-connection-mode=Listen
player-connection-guid=971760190
player-connection-debug=0
player-connection-project-name=RollerBall
player-connection-ip=192.168.24.26
player-connection-ip=10.118.245.65
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
